.layout {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap; }
  .layout.layout-nogutter {
    margin: 0; }
    .layout.layout-nogutter > .col {
      padding: 0; }

.layout {
  margin: 0 0em 0 0em; }

.col {
  padding: 0 0em 0 0em; }

.col {
  box-sizing: border-box;
  flex: 0 0 auto;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  min-width: 0; }

.col-1 {
  flex-basis: 8.33333%;
  max-width: 8.33333%; }

.col-2 {
  flex-basis: 16.66667%;
  max-width: 16.66667%; }

.col-3 {
  flex-basis: 25%;
  max-width: 25%; }

.col-4 {
  flex-basis: 33.33333%;
  max-width: 33.33333%; }

.col-5 {
  flex-basis: 41.66667%;
  max-width: 41.66667%; }

.col-6 {
  flex-basis: 50%;
  max-width: 50%; }

.col-7 {
  flex-basis: 58.33333%;
  max-width: 58.33333%; }

.col-8 {
  flex-basis: 66.66667%;
  max-width: 66.66667%; }

.col-9 {
  flex-basis: 75%;
  max-width: 75%; }

.col-10 {
  flex-basis: 83.33333%;
  max-width: 83.33333%; }

.col-11 {
  flex-basis: 91.66667%;
  max-width: 91.66667%; }

.col-12 {
  flex-basis: 100%;
  max-width: 100%; }

@media only screen and (max-width: var(--media-sm)) {
  .sm-hide {
    display: none; } }

@media only screen and (min-width: var(--media-sm)) {
  .sm-flex {
    display: flex; }
  .sm-block {
    display: block; }
  .sm-inline-block {
    display: inline-block; }
  .sm-fixed {
    display: fixed; }
  .sm-sticky {
    display: sticky; } }

@media only screen and (max-width: var(--media-md)) {
  .md-hide {
    display: none; } }

@media only screen and (min-width: var(--media-md)) {
  .md-flex {
    display: flex; }
  .md-block {
    display: block; }
  .md-inline-block {
    display: inline-block; }
  .md-fixed {
    display: fixed; }
  .md-sticky {
    display: sticky; } }

@media only screen and (max-width: var(--media-lg)) {
  .lg-hide {
    display: none; } }

@media only screen and (min-width: var(--media-lg)) {
  .lg-flex {
    display: flex; }
  .lg-block {
    display: block; }
  .lg-inline-block {
    display: inline-block; }
  .lg-fixed {
    display: fixed; }
  .lg-sticky {
    display: sticky; } }

@media only screen and (max-width: var(--media-elg)) {
  .elg-hide {
    display: none; } }

@media only screen and (min-width: var(--media-elg)) {
  .elg-flex {
    display: flex; }
  .elg-block {
    display: block; }
  .elg-inline-block {
    display: inline-block; }
  .elg-fixed {
    display: fixed; }
  .elg-sticky {
    display: sticky; } }

@media only screen and (max-width: var(--media-sm)) {
  .col-sm-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .col-sm-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .col-sm-3 {
    flex-basis: 25%;
    max-width: 25%; }
  .col-sm-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .col-sm-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .col-sm-6 {
    flex-basis: 50%;
    max-width: 50%; }
  .col-sm-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .col-sm-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .col-sm-9 {
    flex-basis: 75%;
    max-width: 75%; }
  .col-sm-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .col-sm-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .col-sm-12 {
    flex-basis: 100%;
    max-width: 100%; } }

@media only screen and (min-width: var(--media-sm)) and (max-width: var(--media-md)) {
  .col-md-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .col-md-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .col-md-3 {
    flex-basis: 25%;
    max-width: 25%; }
  .col-md-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .col-md-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .col-md-6 {
    flex-basis: 50%;
    max-width: 50%; }
  .col-md-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .col-md-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .col-md-9 {
    flex-basis: 75%;
    max-width: 75%; }
  .col-md-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .col-md-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .col-md-12 {
    flex-basis: 100%;
    max-width: 100%; } }

@media only screen and (min-width: var(--media-md)) and (max-width: var(--media-lg)) {
  .col-lg-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .col-lg-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .col-lg-3 {
    flex-basis: 25%;
    max-width: 25%; }
  .col-lg-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .col-lg-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .col-lg-6 {
    flex-basis: 50%;
    max-width: 50%; }
  .col-lg-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .col-lg-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .col-lg-9 {
    flex-basis: 75%;
    max-width: 75%; }
  .col-lg-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .col-lg-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .col-lg-12 {
    flex-basis: 100%;
    max-width: 100%; } }
