

// --------------------------------------------------
// +reset 			standard reset
// +twelve 			12 column grid layout
// +fontsize 		fontsizes with ratios
// +device 			responsive show / hide
// --------------------------------------------------


@import '_icons'
@import '_misc'
@import '_interfaces'
@import '_colours'
@import '_shorthand'
@import '_layout'
@import '_syntax'




=app
	+flex
	+column(stretch,stretch)
	+fill
	+bg
	+color
=sassis( $active-filled: true )

	/* core sassis */

	html
		font-size: var(--font-size)	

	.app
		+app

	+reset

	.sassis, select, button, input, textarea, *
		font-family: var(--font)
		font-size: 1rem
		line-height: var(--line-height)


	+interfaces
	+syntax

	/* ez borders */

	.border, .b
		+border
	.bb
		+bb
	.bt
		+bt
	.br
		+br
	.bl
		+bl

	/* backgrounds w. pop and sink */

	@for $i from 1 through 24
		.clamp#{$i}
			display: box
			display: -webkit-box
			max-lines: $i
			line-clamp: $i
			-webkit-line-clamp: $i
			box-orient: vertical
			-webkit-box-orient: vertical

	@for $i from 0 through 72
		$rot: $i * 5
		.rotate#{$rot}
			transform: rotateZ( $rot * 1deg )

	.flipy
		transform: scale( 1, -1 )
	.flipx
		transform: scale( -1, 1 )

	/* placeholder fade colors */

	*::placeholder
		color: var(--color-fade)

	/* colors w. success, info, error, alert */

	$COLORS: red, pink, purple, blue, green, yellow, orange

	@each $col in $COLORS
		+createColors( var(--#{$col}), var(--bg), #{$col})

	@for $i from 0 through 6
		$ii: $i + 7
		.bc#{$i}, .bc#{$i} *
			border-color: var(--c#{$i})
		.bc#{$ii}, .bc#{$ii} *
			border-color: var(--bg#{$ii})

	/* colors w. bright and fade */

	+bg( var(--bg0), bg0 sinkest )
	+bg( var(--bg1), bg1 sinker )
	+bg( var(--bg2), bg2 sink )
	+bg( var(--bg3), bg3 bg sassis )
	+bg( var(--bg4), bg4 pop )
	+bg( var(--bg5), bg5 popper )
	+bg( var(--bg6), bg6 poppest )

	+createColors( var(--c0), var(--bg3), c0 fadiest, $active-filled  )
	+createColors( var(--c1), var(--bg3), c1 fadier inactive disabled, $active-filled  )
	+createColors( var(--c2), var(--bg3), c2 fade, $active-filled  )
	+createColors( var(--c3), var(--bg3), c3 normal sassis, $active-filled  )
	+createColors( var(--c3), var(--bg3) )
	+createColors( var(--c4), var(--bg3), c4 bright strong, $active-filled  )
	+createColors( var(--c5), var(--bg3), c5 brighter, $active-filled  )
	+createColors( var(--c6), var(--bg3), c6 brightest, $active-filled  )

	+createColors( var(--green), var(--bg3), success, $active-filled )
	+createColors( var(--red), var(--bg3), error, $active-filled )
	+createColors( var(--orange), var(--bg3), warning, $active-filled )
	+createColors( var(--blue), var(--bg3), info, $active-filled )

	@media screen and (max-width: 767px)
		_::-webkit-full-page-media, _:future, :root .safari-only
			padding-bottom: 70px!important
