

// --------------------------------------------------
// +reset 			standard reset
// +twelve 			12 column grid layout
// +fontsize 		fontsizes with ratios
// +device 			responsive show / hide
// --------------------------------------------------


@import '_icons'
@import '_misc'
@import '_interfaces'
@import '_colours'
@import '_shorthand'
@import '_layout'
@import '_syntax'

=sassis

	/* core sassis */

	html
		font-size: var(--font-size)

	+reset

	.sassis, select, button, input, textarea, *
		font-family: var(--font)
		font-size: 1rem
		line-height: var(--line-height)


	+interfaces
	+syntax

	/* backgrounds w. pop and sink */

	@for $i from 1 through 24
		.clamp#{$i}
			display: box
			display: -webkit-box
			max-lines: $i
			line-clamp: $i
			-webkit-line-clamp: $i
			box-orient: vertical
			-webkit-box-orient: vertical

 
	@for $i from 0 through 72
		$rot: $i * 5
		.rotate#{$rot}
			transform: rotateZ( $rot * 1deg )

	.flipy
		transform: scale( 1, -1 )
	.flipx
		transform: scale( -1, 1 )

	+bg( var(--bg), bg sassis )
	+bg( var(--bg-pop), pop ) 
	+bg( var(--bg-sink), sink )

	/* colors w. bright and fade */

	+colors( var(--color), var(--bg)  )
	+colors( var(--color), var(--bg), normal color sassis  )
	+colors( var(--bg), var(--color), inverted  )
	+colors( var(--color-bright), var(--bg), strong highlight bright focus,  )
	+colors( var(--color-fade), var(--bg), fade disabled unimportant ) 

	/* placeholder fade colors */

	*::placeholder
		color: var(--color-fade)

	/* colors w. success, info, error, alert */

	+colors( var(--color-success), var(--bg), success selected added new created create add )
	+colors( var(--color-info), var(--bg), info ok placid )
	+colors( var(--color-error), var(--bg), error unselected removed deleted remove delete )
	+colors( var(--color-alert), var(--bg), alert warning )
	
	/* background and colors w. a, b, c, d, e */

	$abc: a, b, c, d, e
	@for $i from 1 through length($abc) 
		$char: nth( $abc, $i )
		+bg( var(--bg-#{$char}), bg-#{$char} )
		+colors( var(--color-#{$char}), var(--bg), color-#{$char} )


	@media screen and (max-width: 767px)
		_::-webkit-full-page-media, _:future, :root .safari-only
			padding-bottom: 70px!important

